body {
    color: #666;
}

h1,h2,h3,h4,h5,h6 {
    color: #111;
}

.l-box {
    padding: 2em;
}

.header .pure-menu {
    border-bottom-color: black;
    border-radius: 0;
}


.footer {
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}

.code-content-header {
    height: 75px;
}

.code-sub-container {
    position: relative;
}

.code-content-title {
    position: absolute;
    bottom: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.code-content-subtitle {
    font-size: 12px;
    margin: 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}